*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

#root{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.left{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}


/* Form CSS */

form{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    gap: 10px;
    width: 20rem;
    margin: 20px 30px;
    padding: 15px 10px;
    border: 2px solid rgb(11, 15, 243);
    box-shadow: 0px 0px 15px blue;
    background-color: rgb(0, 153, 255); 
    border-radius: 20px;
}

form input{
    padding: 10px 10px ;
    font-size: 12px;
    border-radius: 10px;
    outline: none;
    border: none;
}

#submitBtn{
    width: 60%;
    margin-top: 10px;
    align-self: center;
    background-color: blue;
    color: white;
    font-size: 15px;
}


/* card css*/

.card{
    height: 250px;
    width: 200px;
    border: 2px solid rgb(254, 252, 252);
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: whitesmoke;
    color: black;
}

.card img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid black;
    align-self: center;
    object-fit: cover;
}

.card h2{
    font-size: 20px;
}

.card h3{
    font-size: 15px;
}

.card h4{
    font-size: 15px;
}

#removeBtn{
    width: 60%;
    margin-top: 10px;
    align-self: center;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
}